.navbar {
  background-color: #212429;
}

body{
  min-height: 1000px;
  background-color: #141414;
}

section {
  padding-top: 7rem;
}

.jumbotron {
  padding-top: 12rem;
  background-color: #222222;
}

#guide {
  background-color: #141414;
}
#about {
  background-color: #222222;
}
#contact {
  background-color: #141414;
}

#form {
  background-color: #141414;
}

.map-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}
.map-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

* {
  box-sizing: border-box;
}

.zoom {
  transition: transform .2s;
}

.zoom:hover {
  z-index: 999;
  -ms-transform: scale(2.5);
  -webkit-transform: scale(2.5);
  transform: scale(2.5); 
}
